<nav class="navbar">
  <div class="logo">
    <a routerLink="/home">Anudev Jayan</a>
  </div>

  <div class="menu-icon" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">Projects</a></li>
    <!-- <li><a routerLink="/security" routerLinkActive="active" (click)="closeMenu()">Security</a></li> -->
    <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
  </ul>
</nav>
